{% extends 'base.html.twig' %}

{% block title %}Project2 | {{ parent() }}{% endblock %}

{% block body %}

    <h1>{{ title }}</h1>

    {# add comments #}

    <div>
        <h3>Payment status: {{ paymentStatus }}</h3>
        <p>
            <a class="url-print-name" href="{{ path('print_name', {
                'playerUUID': 'super228'
            }) }}">Go to Print Name</a>
        </p>
    </div>

    <div>
        <h3>Music:</h3>
            {% for musicItem in music %}
                <br>
                    <p>title: {{ musicItem.title }}</p>
                    <p>trackCount: {{ musicItem.trackCount }}</p>
                    <p>genre: {{ musicItem.genre }}</p>
                    <p>createdAt: {{ musicItem.createdAt|date() }}</p>
                <br>
            {% endfor %}
    </div>

    <form action="{{ path('api_show_other', {id: '55'}) }}" method="post">
        <button
                type="submit"
                class="up-age"
                name="direction"
                value="up"
        >Up</button>
        <button
                type="submit"
                class="up-age"
                name="direction"
                value="down"
        >Down</button>
    </form>

{% endblock %}