{% extends 'base.html.twig' %}

{% block title %}Project | {{ parent() }}{% endblock %}

{% block body %}

<h1>{{ title }}</h1>

{# add comments #}

<div>
    <p>Player UUID: {{ username }}</p>
    <p>
        <a class="url-get-number" href="{{ path('get_number') }}">Go to Get Number</a>
    </p>
</div>

<div>
    <h3>Numbers:</h3>
    {{ dump() }}
    <ul>
        {% for number in numbers %}
            <li>{{ number }}</li>
        {% endfor %}
    </ul>
</div>

<div>
    <h3>Users:</h3>
    <ul>
        {% for user in fullNames %}
            <li>{{ user.name }} - {{ user.lastName|upper }} - \
                {{ user.ago }} - {{ user.createdAt|ago }}</li>
        {% endfor %}
    </ul>
</div>

{% endblock %}